{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title "Test" %} {# syntaxe alternative sans le endblock #}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blog Symfony</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Blog</h1>
            <p class="lead">Bienvenue sur mon blog.</p>
        </div>

    </div><!-- /.container -->

    <div class="container">
        {% for article in articles %}
            <a href="/blog/{{ article.id }}"><li>{{ article.title }}</li></a>
        {% endfor %}
    </div>

{% endblock %}
